body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.product-list {
	display: flex;
	flex-direction: column;
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.product-info {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	white-space: pre-wrap;
	gap: 30px;
	
}
.product-info >p {
  margin-left: 20px;
}
.cartControl{
	background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    /* flex: max-content; */
    margin-top: 50px;
}
.cart-control-btn{
	margin-left: 20px;
    background: transparent;
    border: none;
    font-size: 30px;
    margin-right: 20px;
}
.item-center{
	align-items: center;
}
.height-zero {
	height: 0px;
}
.remove-cart-btn {
	background: transparent;
    border: none;
    font-size: 15px;
}
.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}

  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  .product-container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
  }
  .flex{
	display: flex;
  }
  .flex-row{
	flex-direction: row;
  }
  .flex-col{
	flex-direction: column;
  }